<div class="header-container">
  <img
    src="/images/king-william-logo.png"
    alt="King William's Logo"
    class="logo"
  />
  <h1>King William's - Reservation</h1>
</div>
<div class="container">
  <div class="entry-item">
    <input
      type="text"
      id="guestID"
      class="entry-input"
      placeholder="Guest ID"
    />
    <button
      class="clear-individual"
      onclick="clearEntryBox('guestID')"
    >Clear</button>
  </div>
  <div class="entry-item">
    <input
      type="text"
      id="firstName"
      class="entry-input"
      placeholder="First Name"
    />
    <button
      class="clear-individual"
      onclick="clearEntryBox('firstName')"
    >Clear</button>
  </div>
  <div class="entry-item">
    <input
      type="text"
      id="lastName"
      class="entry-input"
      placeholder="Last Name"
    />
    <button
      class="clear-individual"
      onclick="clearEntryBox('lastName')"
    >Clear</button>
  </div>
  <div class="entry-item">
    <input type="text" id="street" class="entry-input" placeholder="Street" />
    <button
      class="clear-individual"
      onclick="clearEntryBox('street')"
    >Clear</button>
  </div>
  <div class="entry-item">
    <input type="text" id="city" class="entry-input" placeholder="City" />
    <button
      class="clear-individual"
      onclick="clearEntryBox('city')"
    >Clear</button>
  </div>
  <div class="entry-item">
    <input type="text" id="country" class="entry-input" placeholder="Country" />
    <button
      class="clear-individual"
      onclick="clearEntryBox('country')"
    >Clear</button>
  </div>
  <div class="entry-item">
    <input
      type="text"
      id="postalCode"
      class="entry-input"
      placeholder="Postal Code"
    />
    <button
      class="clear-individual"
      onclick="clearEntryBox('postalCode')"
    >Clear</button>
  </div>
  <div class="entry-item">
    <input type="email" id="email" class="entry-input" placeholder="Email" />
    <button
      class="clear-individual"
      onclick="clearEntryBox('email')"
    >Clear</button>
  </div>
  <div class="entry-item">
    <input type="tel" id="phone" class="entry-input" placeholder="Phone" />
    <button
      class="clear-individual"
      onclick="clearEntryBox('phone')"
    >Clear</button>
  </div>
  <div class="entry-item">
    <input
      type="date"
      id="checkinDate"
      class="entry-input"
      placeholder="Check-in Date"
    />
    <button
      class="clear-individual"
      onclick="clearEntryBox('checkinDate')"
    >Clear</button>
  </div>
  <div class="entry-item">
    <input type="text" id="roomNo" class="entry-input" placeholder="Room No." />
    <button
      class="clear-individual"
      onclick="clearEntryBox('roomNo')"
    >Clear</button>
  </div>
  <div class="entry-item">
    <input
      type="number"
      id="depositAmount"
      class="entry-input"
      placeholder="Deposit Amount"
      step="0.01"
    />
    <button
      class="clear-individual"
      onclick="clearEntryBox('depositAmount')"
    >Clear</button>
  </div>
  <button onclick="/* Placeholder for 'Confirm' function */">Confirm</button>
  <button onclick="clearAllEntryBoxes()">Clear All</button>
</div>
<div style="text-align: center; margin-top: 20px;">
  <button onclick="window.location.href='main.html'">Return to Main Page</button>
</div>
<script src="/js/utility.js"></script>