<div class="header-container">
  <img src="/images/king-william-logo.png" class="logo" />
  <h1>King William's - Add Reservation</h1>
</div>
<div class="container">
  <form>
    <label for="fullName"><strong>Full Name</strong></label>
    <div id="fullName" class="flex-input top-gap">
      <input
        type="text"
        id="firstName"
        class="entry-input"
        placeholder="First Name"
      />
      <input
        type="text"
        id="lastName"
        class="entry-input"
        placeholder="Last Name"
      />
    </div>
    <label for="address"><strong>Address</strong></label>
    <input
      type="text"
      id="street"
      class="top-gap"
      placeholder="Street Address"
    />
    <div id="cityCountry" class="flex-input">
      <input type="text" id="city" class="entry-input" placeholder="City" />
      <input
        type="text"
        id="country"
        class="entry-input"
        placeholder="Country"
      />
    </div>
    <div class="entry-item">
      <input
        type="text"
        id="postalCode"
        class="entry-input"
        placeholder="Postal Code"
      />
    </div>
    <label for="contactInformation"><strong>Contact Information</strong></label>
    <div id="contactInformation" class="flex-input top-gap">
      <input
        type="email"
        id="email"
        class="entry-input"
        placeholder="Email Address"
      />
      <input
        type="tel"
        id="phone"
        class="entry-input"
        placeholder="Phone Number (ex. 9051231234)"
      />
    </div>

    <label for="reservationInformation"><strong>Reservation Information</strong></label>
    <div id="reservationInformation" class="flex-input top-gap">
      <div class="width-100">
        <label for="checkInDate">Check-in Date</label>
        <input
          type="date"
          id="checkInDate"
          class="entry-input"
          placeholder="Check-in Date"
        />
      </div>

      <div class="width-100">
        <label for="checkOutDate">Check-out Date</label>
        <input
          type="date"
          id="checkOutDate"
          class="entry-input"
          placeholder="Check-in Date"
        />
      </div>
    </div>

    <label for="roomInformation"><strong>Room Information</strong></label>
    <div id="roomInformation" class="flex-input top-gap">
      <div class="width-100">
        <label for="category">Room Category</label>
        <select id="category">
          <option value="single">Single</option>
          <option value="double">Double</option>
          <option value="suite">Suite</option>
        </select>
      </div>
      <div class="width-100">
        <label for="roomNumber">Room Number</label>
        <select id="roomNumber">
          <option disabled selected value>Please select room category first.</option>
        </select>
      </div>
    </div>

    <br />

    <button type="submit">Submit</button>
    <button id="clear-all">Clear All</button>
  </form>
</div>
<div style="text-align: center; margin-top: 20px;">
  <button
    onclick="window.location.href='/reservation/all-reservations'"
    class="footer-button"
  >Return to Reservation Page</button>
</div>
<script src="/js/utility.js"></script>
<script src="/js/reservationHandlers.js"></script>

```