<div class="header-container">
  <img src="/images/king-william-logo.png" class="logo" />
  <h1>King William's - Add Reservation</h1>
</div>
<div class="container">
  <form action="/reservation/add-reservation/{{guest.guest_id}}" method="post">
    <label for="reservationInformation"><strong>Reservation Information</strong></label>
    <div id="reservationInformation" class="flex-input top-gap">
      <div class="width-100">
        <label for="checkInDate">Check-in Date</label>
        <input type="date" id="checkInDate" name="checkInDate" class="entry-input" placeholder="Check-in Date" />
      </div>

      <div class="width-100">
        <label for="checkOutDate">Check-out Date</label>
        <input type="date" id="checkOutDate" name="checkOutDate" class="entry-input" placeholder="Check-in Date" />
      </div>
    </div>
    <br />
    <label for="roomInformation"><strong>Room Information</strong></label>
    <div id="roomInformation" class="flex-input top-gap">
      <div class="width-100">
        <label for="roomNumber">Room Number</label>
        {{! <select id="roomNumber">
          <option disabled selected value>Please select room category first.</option>
        </select> }}
        <input type="text" id="roomId" name="roomId" class="entry-input" placeholder="Room Number" />
      </div>
    </div>

    <br />

    <button type="submit">Submit</button>
    <button id="clear-all">Clear All</button>
  </form>
</div>
<div style="text-align: center; margin-top: 20px;">
  <button onclick="window.location.href='/guest/all-guests'" class="footer-button">Return to Guest Page</button>
</div>
<script src="/js/utility.js"></script>
<script src="/js/reservationHandlers.js"></script>