<div class="header-container">
  <img
    src="/images/king-william-logo.png"
    alt="King William's Logo"
    class="logo"
  />
  <h1>King William's - Guests</h1>
</div>
<div class="container">
  <div class="search-section" style="margin-left: 3rem;">
    <div class="filter">
      <label for="guestID">Guest ID</label>
      <input type="text" id="guestID" />
      <label for="firstName">First Name</label>
      <input type="text" id="firstName" />
      <label for="lastName">Last Name</label>
      <input type="text" id="lastName" />
      <label for="street">Street</label>
      <input type="text" id="street" />
      <label for="city">City</label>
      <input type="text" id="city" />
      <label for="country">Country</label>
      <input type="text" id="country" />
      <label for="postalCode">Postal Code</label>
      <input type="text" id="postalCode" />
      <label for="email">Email</label>
      <input type="email" id="email" />
      <label for="phone">Phone</label>
      <input type="tel" id="phone" />
    </div>
    <div class="buttons-group">
      <button>Search</button>
    </div>
  </div>

  <div class="results-section">
    <table>
      <thead>
        <tr>
          <th>Guest ID</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Street</th>
          <th>City</th>
          <th>Country</th>
          <th>Postal Code</th>
          <th>Email</th>
          <th>Phone</th>
        </tr>
      </thead>
      <tbody>
        <!-- Place holder for abstracted records -->
      </tbody>
    </table>
  </div>
</div>
<div style="text-align: center; margin-top: 20px;">
  <button onclick="window.location.href='/manage'" class="footer-button">Return
    to Manage Page</button>
</div>

<script src="/js/utility.js"></script>