<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{> _title}}</title>
    <link rel="stylesheet" type="text/css" href="{{> _style}}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Calistoga&family=Inter:wght@400;600;700&family=Lato&family=Poppins&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    {{{body}}}
  </body>
</html>