<div class="header-container">
  <img
    src="/images/king-william-logo.png"
    alt="King William's Logo"
    class="logo"
  />
  <h1>King William's - Add Item</h1>
</div>
<div class="container">
  <div class="search-section">
    <div class="search-item">
      <select id="serviceType">
        <option value="" disabled selected>Item Type</option>
      </select>
    </div>
    <div class="search-item">
      <select id="roomNo">
        <option value="" disabled selected>Room No.</option>
      </select>
    </div>
    <div class="search-item">
      <input type="time" id="serviceTime" placeholder="Service Time" />
    </div>
    <div class="search-item">
      <input type="date" id="serviceDate" placeholder="Service Date" />
    </div>

    <div class="search-item">
      <input type="text" id="name" placeholder="Name" />
    </div>
    <div class="search-item">
      <input type="text" id="phone" placeholder="Phone" />
    </div>
    <button>Submit</button>
    <button>Reset</button>
  </div>
</div>
<div style="text-align: center; margin-top: 20px;">
  <button onclick="window.location.href='main.html'">Return to Main Page</button>
</div>
<script src="/js/utility.js"></script>