<div class="header-container">
  <img
    src="/images/king-william-logo.png"
    alt="King William's Logo"
    class="logo"
  />
  <h1>King William's - Items</h1>
</div>
<div class="navbar">
  <button onclick="window.location.href='/manage'" class="footer-button">Return
    to Manage Page</button>
  <button onclick="window.location.href='add-item'" class="footer-button">Add
    Item</button>
</div>
<div class="container">
  <div class="search-section">
    <div class="filter">
      <label for="itemID">Item ID</label>
      <input type="number" id="itemID" />
      <label for="description">Description</label>
      <input type="text" id="description" />
    </div>
    <div class="buttons-group">
      <button>Search</button>
    </div>
  </div>

  <div class="results-section">
    <table>
      <thead>
        <tr>
          <th>Item ID</th>
          <th>Description</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <!-- Place holder for abstracted records -->
      </tbody>
    </table>
  </div>
</div>

<script src="/js/utility.js"></script>