<div class="header-container">
  <img src="/images/king-william-logo.png" class="logo" />
  <h1>King William's - Add Employee</h1>
</div>
<div class="container">
  <form>
    <label for="fullName"><strong>Full Name</strong></label>
    <div id="fullName" class="flex-input top-gap">
      <input
        type="text"
        id="firstName"
        class="entry-input"
        placeholder="First Name"
      />
      <input
        type="text"
        id="lastName"
        class="entry-input"
        placeholder="Last Name"
      />
    </div>
    <label for="hiredDate"><strong>Hired Date</strong></label>
    <div id="hiredDate" class="top-gap">
      <input type="date" class="entry-input" />
    </div>
    <label for="address"><strong>Address</strong></label>
    <input type="text" id="address" class="top-gap" placeholder="Street" />
    <div class="flex-input">
      <input type="text" id="city" class="entry-input" placeholder="City" />
      <input
        type="text"
        id="country"
        class="entry-input"
        placeholder="Country"
      />
    </div>
    <div class="entry-item">
      <input
        type="text"
        id="postalCode"
        class="entry-input"
        placeholder="Postal Code"
      />
    </div>
    <label for="contactInformation"><strong>Contact Information</strong></label>
    <div id="contactInformation" class="flex-input top-gap">
      <input
        type="email"
        id="email"
        class="entry-input"
        placeholder="Email Address"
      />
      <input
        type="tel"
        id="phone"
        class="entry-input"
        placeholder="Phone Number (ex. 9051231234)"
      />
    </div>
    <label for="employment"><strong>Employment</strong></label>
    <div id="employment" class="flex-input top-gap">
      <div style="width: 100%;">
        <label for="type">Employment Type</label>
        <select id="type" class="top-gap">
          <option value="permanent">Permanent</option>
          <option value="partTime">Temporary</option>
        </select>
      </div>
      <div style="width: 100%;">
        <label for="position">Position</label>
        <select id="position" class="top-gap">
          <option value="manager">Manager</option>
          <option value="assistant">Assistant</option>
          <option value="employee">Employee</option>
        </select>
      </div>
    </div>

    <br />
    <button type="submit">Submit</button>
    <button id="clear-all">Clear All</button>
  </form>
</div>
<div style="text-align: center; margin-top: 20px;">
  <button onclick="window.location.href='/employee/all-employees'">Return to
    Employees Page</button>
</div>
<script src="/js/utility.js"></script>