<div class="header-container">
  <img src="/images/king-william-logo.png" class="logo" />
  <h1>King William's - Add Employee</h1>
</div>
<div class="container">
  <form action="/employee/add-employee" method="post">
    <label for="fullName"><strong>Full Name</strong></label>
    <div id="fullName" class="flex-input top-gap">
      <input
        type="text"
        name="firstName"
        id="firstName"
        class="entry-input"
        placeholder="First Name"
        required
      />
      <input
        type="text"
        name="lastName"
        id="lastName"
        class="entry-input"
        placeholder="Last Name"
        required
      />
    </div>
    <label for="hiredDateInput"><strong>Hired Date</strong></label>
    <div id="hiredDate" class="top-gap">
      <input
        type="date"
        id="hiredDateInput"
        name="hiredDate"
        class="entry-input"
        required
      />
    </div>

    <label for="address"><strong>Address</strong></label>
    <input
      type="text"
      id="street"
      name="street"
      class="top-gap"
      placeholder="Street"
      required
    />
    <div class="flex-input">
      <input
        type="text"
        id="city"
        name="city"
        class="entry-input"
        placeholder="City"
        required
      />
      <input
        type="text"
        name="country"
        id="country"
        class="entry-input"
        placeholder="Country"
        required
      />
    </div>
    <div class="entry-item">
      <input
        type="text"
        name="postalCode"
        id="postalCode"
        class="entry-input"
        placeholder="Postal Code"
        required
      />
    </div>
    <label for="contactInformation"><strong>Contact Information</strong></label>
    <div id="contactInformation" class="flex-input top-gap">
      <input
        type="email"
        name="email"
        id="email"
        class="entry-input"
        placeholder="Email Address"
        required
      />
      <input
        type="tel"
        name="phone"
        id="phone"
        class="entry-input"
        placeholder="Phone Number (ex. 9051231234)"
        required
      />
    </div>
    <label for="employment"><strong>Employment</strong></label>
    <div id="employment" class="flex-input top-gap">
      <div class="width-100">
        <label for="type">Employment Type</label>
        <select id="type" name="type" class="top-gap">
          <option value="permanent">Permanent</option>
          <option value="temporary">Temporary</option>
        </select>
      </div>
      <div class="width-100">
        <label for="position">Position</label>
        <select id="position" name="position" class="top-gap">
          {{#each positions}}
            <option value="{{position_id}}">{{position_desc}}</option>
          {{/each}}
        </select>
      </div>
    </div>

    <br />
    <button type="submit">Submit</button>
    <button id="clear-all">Clear All</button>
  </form>
</div>
<div style="text-align: center; margin-top: 20px;">
  <button
    onclick="window.location.href='/employee/all-employees'"
    class="footer-button"
  >Return to Employees Page</button>
</div>
<script src="/js/utility.js"></script>