<header>
  <img src="/images/king-william-logo.png" width="20%" />
  <h1>Invoice</h1>
  <address>
    <h2>Billed To:</h2>
    <p>John Doe</p>
    <p>123 Street, Oshawa, ON</p>
    <p>(123) 456-7890</p>
  </address>
  <address class="right">
    <h2>From:</h2>
    <p>King William</p>
    <p>423 Street, Oshawa, ON</p>
    <p>(999) 126-2290</p>
  </address>
</header>
<main>
  <table class="inventory border">
    <thead>
      <tr>
        <th>Item</th>
        <th>Quantity</th>
        <th>Price per unit</th>
        <th>Total Price</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td></td>
        <td>$0.00</td>
        <td>$0.00</td>
      </tr>
    </tbody>
  </table>
  <table class="balance">
    <tr>
      <th>Subtotal</th>
      <td>$0.00</td>
    </tr>
    <tr>
      <th>Tax</th>
      <td>$0.00</td>
    </tr>
    <tr>
      <th>Fees/discounts</th>
      <td>$0.00</td>
    </tr>
    <tr>
      <th>TOTAL</th>
      <td>$0.00</td>
    </tr>
  </table>
</main>