<section>
  <div class="left">
    <img src="/images/king-william-logo.png" />
  </div>
  <div class="right">
    <p class="title">Login</p>
    <form action="/login" method="post">
      <div class="col">
        <input
          class="input"
          type="text"
          name="username"
          placeholder="Username"
        />
      </div>
      <div class="col">
        <input
          class="input"
          type="password"
          name="password"
          placeholder="Password"
        />
      </div>
      <button class="button" type="submit">Login</button>
    </form>
  </div>
</section>