<section>
  <div class="left">
    <img src="/images/king-william-logo.png" />
  </div>
  <div class="right">
    <p class="title">Login</p>
    <form>
      <div class="col">
        <input class="input" type="text" placeholder="Username" />
        <span class="focus-border"></span>
      </div>
      <div class="col">
        <input class="input" type="password" placeholder="Password" />
        <span class="focus-border"></span>
      </div>
      <button class="button" type="submit">Login</button>
    </form>
  </div>
</section>