<nav>
  <a href="/">Manage</a>
  <a href="/login">Logout</a>
</nav>
<section>
  <h1 class="title">What would you like to manage today?</h1>
  <div class="selection">
    <a href="/employee/all-employees">
      <p>Employee</p>
      <img src="/images/manage/clarity-employee-group-solid.jpg" />
    </a>
    <a href="/reservation/all-reservations">
      <p>Reservation</p>
      <img src="/images/manage/fluent-mdl-2-reservation-orders.jpg" />
    </a>
    <a href="/item/all-items">
      <p>Item</p>
      <img src="/images/manage/mdi-room-service.jpg" />
    </a>
  </div>
  <div class="selection" style="margin-bottom: 3rem;">
    <a href="/guest/all-guests">
      <p>Guest</p>
      <img src="/images/manage/fluent-guest-add-24-regular.jpg" />
    </a>
    <a href="/room/all-rooms">
      <p>Room</p>
      <img src="/images/manage/fontisto-room.jpg" />
    </a>
    <a href="/transaction/all-transactions">
      <p>Transaction</p>
      <img src="/images/manage/medical-icon-i-billing.jpg" />
    </a>
  </div>
</section>