<nav>
  <a>About</a>
  <a>Manage</a>
  <a href="/login">Logout</a>
</nav>
<section>
  <h1 class="title">What would you like to manage today?</h1>
  <div class="selection">
    <div>
      <p>Employee</p>
      <img src="/images/manage/clarity-employee-group-solid.jpg" />
    </div>
    <div>
      <p>Reservation</p>
      <img src="/images/manage/fluent-mdl-2-reservation-orders.jpg" />
    </div>
    <div>
      <p>Service</p>
      <img src="/images/manage/mdi-room-service.jpg" />
    </div>
    <div>
      <p>Guest Bill</p>
      <img src="/images/manage/medical-icon-i-billing.jpg" />
    </div>
  </div>
  <div class="selection" style="margin-bottom: 3rem;">
    <div>
      <p>Guest</p>
      <img src="/images/manage/fluent-guest-add-24-regular.jpg" />
    </div>
    <div>
      <p>Room</p>
      <img src="/images/manage/fontisto-room.jpg" />
    </div>
  </div>
</section>