<div class="header-container">
  <img
    src="/images/king-william-logo.png"
    alt="King William's Logo"
    class="logo"
  />
  <h1>King William's - Transactions</h1>
</div>
<div class="navbar">
  <button onclick="window.location.href='/manage'" class="footer-button">Return
    to Main Page</button>
  <button
    onclick="window.location.href='add-transaction'"
    class="footer-button"
  >Add Transaction</button>
</div>
<div class="container">
  <div class="search-section">
    <div class="filter">
      <label for="transactionID">Transaction ID</label>
      <input type="text" id="transactionID" class="entry-input" />

      <label for="date">Date of Transaction</label>
      <input type="date" id="date" class="entry-input" />

      <label for="item">Item</label>
      <input type="text" id="item" class="entry-input" />

      <label for="reservationID">Reservation Number</label>
      <input type="number" id="reservationID" class="entry-input" />
    </div>
    <div class="buttons-group">
      <button>Search</button>
    </div>
  </div>

  <div class="results-section">
    <table>
      <thead>
        <tr>
          <th>Transaction ID</th>
          <th>Date and Time</th>
          <th>Price</th>
          <th>Item</th>
          <th>Quantity</th>
          <th>Reservation Number</th>
        </tr>
      </thead>
      <tbody>
        <!-- Place holder for abstracted records -->
      </tbody>
    </table>
  </div>
</div>

<script src="/js/utility.js"></script>