.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.logo {
  height: 80px;
  width: auto;
  margin-right: 15px;
}
body {
  font-family: "Arial", sans-serif;
  padding: 20px;
  background-color: #f4f4f4;
}
.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 80%;
  margin: 0 auto;
  display: flex;
}
h1 {
  text-align: center;
  margin-bottom: 20px;
}

.search-section {
  flex: 1;
  margin-right: 20px;
}
.results-section {
  flex: 2;
}
.search-item {
  position: relative;
  margin-bottom: 10px;
}
input[type="text"],
input[type="number"] {
  width: 70%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.buttons-group {
  display: flex;
  justify-content: center;
  margin-right: 3rem;
}
button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 2rem;
}
.footer-button {
  background-color: rgb(185, 185, 185);
}
table {
  width: 100%;
  border-collapse: collapse;
}
table,
th,
td {
  border: 1px solid #ccc;
}
th,
td {
  padding: 10px;
  text-align: left;
}
th {
  background-color: #f2f2f2;
}

div.filter {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-gap: 5px;
}
div.filter label {
  text-align: right;
  align-self: center;
}
div.filter label:after {
  content: ":";
}
.navbar {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
